<h1>You are cordially invited!</h1>

<p>
  <%= @greeting %>, you have been invited to a party.
</p>
<p>
  <strong>Organizer:</strong>
  <%= @party.organizer.email %>
</p>
<p>
  <strong>Theme:</strong>
  <%= @party.theme %>
</p>

<p>
  <strong>Date:</strong>
  <%= @party.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @party.time %>
</p>

<p>
  <strong>Rsvp deadline:</strong>
  <%= @party.rsvp_deadline %>
</p>
