<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wishlist.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @wishlist.user %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<% if @wishlist.items == [] %>
<%= link_to 'Add Items to Your Wishlist', new_wishlist_item_path(@wishlist) %> |
<% else %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishlist.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', wishlist_item_path(@wishlist,item) %></td>
        <td><%= link_to 'Shop', item.url %></td>
        <td><%= link_to 'Edit', edit_wishlist_item_path(item) %></td>
        <td><%= link_to 'Destroy', wishlist_item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add More Items', new_wishlist_item_path(@wishlist) %> |
<% end %>
<%= link_to 'Back', wishlists_path %>
