<!DOCTYPE html>
<html>
  <head>
    <title>SecretSanta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<!-- NAVIGATION --><!-- NAVIGATION --><!-- NAVIGATION --><!-- NAVIGATION --><!-- NAVIGATION --><!-- NAVIGATION --><!-- NAVIGATION --><!-- NAVIGATION -->

  <nav class="mainNav #43a047 green darken-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">... SecretSanta ...</a>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if user_signed_in? %>
          <%= render 'layouts/signed_in_nav' %>
        <% else %>
          <%= render 'layouts/signed_out_nav' %>
        <% end %>

      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><%= link_to 'Login', new_user_session_path %></li>
        <li><a href="#signupForm">SignUp</a></li>
        <li><a href="#aboutUsSection">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div> <!-- class="nav-wrapper container" -->
  </nav>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= yield %>

<!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER --><!-- FOOTER -->

     <footer class="page-footer #f44336 red">
       <div class="container">
         <div class="row">
           <div class="col l1 s12">
             <h6><a href="#">Login</a></h6>
           </div>
           <div class="col l1 s12">
             <h6><a href="#signupForm">SignUp</a></h6>
           </div>
           <div class="col l1 s12">
             <h6><a href="#aboutUsSection">About</a></h6>
           </div>
           <div class="col l1 s12">
             <h6><a href="#">Contact</a></h6>
           </div>
         </div>
       </div>
     </footer>
  </body>
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5xQYBkfGUCndDrVrcUEgMw6ldd5puQ_0&services=geocoding&libraries=places,visualization">
  </script>


</html>
