<!DOCTYPE html>
<html>
  <head>
    <title>SecretSanta</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul>
        <li>GiftExchange</li>
        <li>About</li>
        <li>Contact</li>
        <li>Blog</li>
        <li>Login</li>
        <li><%=link_to 'Sign Up', new_user_registration_path %></li>
        <%if user_signed_in? %>
        <li><%=link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <li><%=link_to 'Parties', parties_path %></li>
        <% end %>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5xQYBkfGUCndDrVrcUEgMw6ldd5puQ_0&services=geocoding&libraries=places,visualization">
  </script>

</html>
